.button-style {
    @include flex(
      flex,
      row,
      nowrap,
      center,
      center
    );

    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    margin-top: 30px;
    border-radius: 4px;
    border: none;
    background: $header-blue;

    @include font(
      Roboto, 
      normal, 
      bold, 
      16px, 
      30px, 
      center, 
      0.06em, 
      $button-text-color, 
      none
    );
  
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);

  }

.pull-down-button {
  position: absolute;
  // z-index: 25;
  top: 0;
  right: 0;
  
  width: 40px;
  height: 40px;
  margin: 10px 15px 10px 15px;
  padding-bottom: 0px;

  border: none;

  & svg {
    width: 40px;
    height: 40px;
    
    fill: $title-color;
    background-color: $button-text-color;
  }

  &:hover {
    @extend %link-animation-placeholder;
  }
  
  & .icon-close-button {
    display: none;
  }

  &.is-open .icon-pull-down-button {
    display: none;
  }

  &.is-open .icon-close-button {
    display: block;
  }

  @include for-size(phone-only) {
      
  }

  @include for-size(tablet-portrait-up) {
    
  }

  @include for-size(tablet-landscape-up) {
    display: none;
  }

  @include for-size(big-desktop-up) {
    display: none;
  }

}

.button-pull-down-close {
  position: absolute;
  z-index: 30;
  border: none;

  display: none;

  width: 16px;
  height: 16px;

  // transform: translate(0px, 0px);
  transform: translate(-50%, -50%);
  top: -80%;
  right: 0;
  padding-bottom: 0px;

  background-color:  transparent;

  & svg {
    width: 40px;
    height: 40px;
    
    fill: $title-color;
    // background-color: $button-text-color;
  }

  &:hover {
    @extend %link-animation-placeholder;
  }
}

.hero .button-style {
  
  @include for-size(phone-only) {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 118px;
    margin-left: auto;
  }

  @include for-size(tablet-portrait-up) {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 118px;
    margin-left: auto;
  }

  @include for-size(tablet-landscape-up) {

  }

  @include for-size(big-desktop-up) {
    margin-bottom: 224px;
  }
}

.portfolio-button {
  display: block;

  @include font(
    Roboto,
    normal,
    500,
    16px,
    26px,
    center,
    0.03em,
    $title-color,
    none
  );

  border-radius: 4px;
  border: none;

  line-height: 38px;
  padding-right: 22px;
  padding-left: 22px;
  margin-left: 8px;

  background-color: $team-box-color;

  @include for-size(phone-only) {
    margin-bottom: 15px;
  }

  @include for-size(tablet-portrait-up) {
    margin-bottom: 15px;
  }

  @include for-size(tablet-landscape-up) {

  }

  @include for-size(big-desktop-up) {

  }
}

  // Footer subscribe
   
.button-box {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 29px;

  border: none;

  @include for-size(phone-only) {
    margin-right: auto;
    margin-left: auto;
  }

  @include for-size(tablet-portrait-up) {

  }

  @include for-size(tablet-landscape-up) {

  }

  @include for-size(big-desktop-up) {
    margin-left: 12px;
  }
}

.button-box svg {
  fill: $button-text-color;
  margin-left: 10px;
}
