.logo-container {   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15px;
    margin-right: 85px;

    @include for-size(tablet-landscape-up) {
        @include flex(flex, row, nowrap, center, center);
        margin: 0 80px 0 15px;
    }

    @include for-size(big-desktop-up) {
        margin: 0 85px 0 15px;
    }
}

.logo-link {
    display: block;
    width: 141px;
    
    @include for-size(big-desktop-up) {
        width: 155px;
    }
}
  
.logo-1-2 {
    @include font(Raleway, normal, bold, 24px, 28px, center, 0.03em, $header-blue, none);
     
    @include for-size(big-desktop-up) {
        @include font(Raleway, normal, bold, 26px, 31px, center, 0.03em, $header-blue, none);
    }
}

.logo-2-2 {
    @include font(Raleway, normal, bold, 24px, 28px, center, 0.03em, $logo-color-2-2, none);

    @include for-size(big-desktop-up) {
        @include font(Raleway, normal, bold, 26px, 31px, center, 0.03em, $logo-color-2-2, none );
    }
}

.logo-2-3 {
    @include font(Raleway, normal, bold, 24px, 28px, center, 0.03em, $button-text-color, none);

    @include for-size(big-desktop-up) {
        @include font(Raleway, normal, bold, 26px, 31px, center, 0.03em, $button-text-color, none);
    }
}
