
/* Main menu */

.header-navigation {
  @include for-size(phone-only) {
    position: absolute;
    z-index: 10;
    transform: translate(0, 1px);
    top: 60px;
    left: 0;
    width: 100%;
    max-width: 480px;

    display: none;

    &.is-open {
      display: block;
    }

    background-color: $button-text-color;

    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.08),
    0px 1px 1px rgba(0, 0, 0, 0.04);

  
  }

  @include for-size(tablet-portrait-up) {

  }

  @include for-size(tablet-landscape-up) {

  }

  @include for-size(big-desktop-up) {

  }
}

.main-menu-link {
  outline: none;

  @extend %link-animation-placeholder;

  @include for-size(phone-only) {
    @include flex(
      flex,
      row,
      nowrap,
      center,
      center
     );
   
     @include font(
       Roboto,
       normal,
       500,
       18px,
       21px,
       center,
       0.02em,
       $title-color,
       none
     );
   }
  }
  @include for-size(tablet-portrait-up) {


  @include for-size(tablet-landscape-up) {
       
  }

  @include for-size(big-desktop-up) {
    position: relative;

    display: block;
  
    @include font(
      Roboto,
      normal,
      500,
      14px,
      80px,
      // 16px,
      center,
      0.02em,
      $title-color,
      none
    );
  }

}

.header-pages {
  @include for-size(phone-only) {
    margin-top: 60px;
    margin-bottom: 60px;

    @include list-margin (
      40px
    );
  }

  @include for-size(tablet-portrait-up) {

  }

  @include for-size(tablet-landscape-up) {

  }  

  @include for-size(big-desktop-up) {
    display: flex;
    margin-right: 305px;

    & > li:not(:last-child) {
      display: block;
      margin-right: 50px;
    }  
  }
}

.header-address {
  @include for-size(phone-only) {
    margin-bottom: 60px;

    @include list-margin (
      16px
    );
  }

  @include for-size(tablet-portrait-up) {

  }

  @include for-size(tablet-landscape-up) {

  }

  @include for-size(big-desktop-up) {

  }
}

.header-icon {
  @include for-size(phone-only) {
    height: 21px;
    fill: $subtitle-color;
  }

  @include for-size(tablet-portrait-up) {
 
  }

  @include for-size(tablet-landscape-up) {

  }

  @include for-size(big-desktop-up) {
    display: block;
    width: 15px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
  
    fill: $subtitle-color;
  }
}

/* contacts animation */

.contact-link {
  & {
    @extend %link-animation-placeholder;

    &:hover  svg,
    &:focus-within  svg,
    &:active svg {
      // color: $header-blue;
      fill: $header-blue;
      transition: $main-transition;
    }
  }

  @include for-size(phone-only) {
    display: inline-flex;

    @include font(
      Roboto,
      normal,
      500,
      14px,
      16px,
      center,
      0.02em,
      $subtitle-color,
      none
    );
    
    line-height: 80px;
  
  }

  @include for-size(tablet-portrait-up) {

  }

  @include for-size(tablet-landscape-up) {

  }

  @include for-size(big-desktop-up) {
    display: inline-flex;

    @include font(
      Roboto,
      normal,
      500,
      14px,
      16px,
      center,
      0.02em,
      $subtitle-color,
      none
    );
    
    line-height: 80px;
  }
}

// .header-contacts {
//   @include for-size(phone-only) {
     
//   }

//   @include for-size(tablet-portrait-up) {
//     display: block;

//   }

//   @include for-size(tablet-landscape-up) {
//     display: block;
     
//   }

//   @include for-size(big-desktop-up) {
//     display: flex;

//     & > li:not(:last-child) {
//       margin-right: 30px;
//     }  
//   }
// }
  
.header-number {
  display: block;

  padding: 0px;
  border: 0px;

  margin-top: auto;
  margin-bottom: auto;

  white-space: nowrap;

  @include for-size(phone-only) {
    @include font(
      Roboto,
      normal,
      medium,
      18px,
      21px,
      center,
      0.02em,
      $subtitle-color,
      none
    );
    // padding-right: 10px;
  }

  @include for-size(tablet-portrait-up) {

  }

  @include for-size(tablet-landscape-up) {

  }

  @include for-size(big-desktop-up) {
    @include font(
      Roboto,
      normal,
      medium,
      14px,
      16px,
      center,
      0.02em,
      $subtitle-color,
      none
    );

    // margin-right: 10px;
  }
}

.current-page {
  color: $header-blue;
 
  &:after {
    position: absolute;
    height: 4px;
    display: block;
    content: '';

    border-radius: 2px;
    background-color: $header-blue;

    @include for-size(phone-only) {
      width: 60px;
      bottom: 292px;
    }

    @include for-size(tablet-portrait-up) {

    }

    @include for-size(tablet-landscape-up) {

    }

    @include for-size(big-desktop-up) {
      width: 100%;
      height: 4px;
      left: 0px;
      bottom: 0px;
    }
  }
}
