/* Main menu */

.header-navigation {
    position: absolute;
    z-index: 10;
    top: 60px;
    left: 0;

    display: none;
    width: 100%;

    &.is-open {
      display: block;
    }

    background-color: $button-text-color;

    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.08),
    0px 1px 1px rgba(0, 0, 0, 0.04);

  @include for-size(tablet-landscape-up) {
    position: static;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;

    box-shadow: none;
  }

  @include for-size(big-desktop-up) {
    height: 78px;

    box-shadow: none;
  }
}

.main-menu-link {
  @include flex(flex, row, nowrap, center);
 
   @include font(Roboto, normal, 500, 18px, 21px, center, 0.02em, $title-color, none);

  @extend %link-animation-placeholder;
  outline: none;

  @include for-size(tablet-landscape-up) {
    @include font(Roboto, normal, 500, 14px, 80px, center, 0.02em, $title-color, none);
  }

  @include for-size(big-desktop-up) {
    @include font(Roboto, normal, 500, 14px, 80px, center, 0.02em, $title-color, none);
  }
}

.header-pages {
  margin-top: 60px;
  margin-bottom: 60px;

  @include list-margin (
    40px
  );

  @include for-size(tablet-landscape-up) {
    display: flex;
    margin-top: 0px;
    margin-right: 85px;
    margin-bottom: 0px;

    & > li:not(:last-child) {
      display: block;
      margin-right: 50px;
    }  

    @include list-margin (
      0px
    );
  }  

  @include for-size(big-desktop-up) {
    display: flex;
    margin-top: 0px;
    margin-right: 305px;
    margin-bottom: 0px;

    & > li:not(:last-child) {
      display: block;
      margin-right: 50px;
    }  
  }
}

.header-icon {
  height: 21px;
  fill: $subtitle-color;

  @include for-size(tablet-landscape-up) {
    display: block;
    width: 15px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  @include for-size(big-desktop-up) {
    display: block;
    width: 15px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.header-number {
  padding: 0px;
  border: 0px;

  margin-top: auto;
  margin-bottom: auto;

  @include font(Roboto, normal, 500, 12px, 14px, center, 0.02em, $subtitle-color, none);

  white-space: nowrap;

  @include for-size(big-desktop-up) {
    @include flex(flex, row, nowrap);

    @include font(Roboto, normal, 500, 14px, 80px, center, 0.02em, $subtitle-color, none);
  }
}

.current-page-studio {
  @include current-page (60px, 292px);

  @include for-size(tablet-landscape-up) {
    @include current-page (48px, 0);
  }

  @include for-size(big-desktop-up) {
    @include current-page (48px, 0);
  }
}

.current-page-portfolio {
  @include current-page (100px, 231px);

  @include for-size(tablet-landscape-up) {
    @include current-page (75px, 0);
  }

  @include for-size(big-desktop-up) {
    @include current-page (75px, 0);
  }
}
