@mixin font($family, $style, $weight, $size, $line-h, $align, $letter-spacing, $text-color, $text-transform) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-h;
    text-align: $align;
    letter-spacing: $letter-spacing;
    color: $text-color;
    text-transform: $text-transform;
}

@mixin flex($display, $flex-direction, $flex-wrap, $justify-content, $align-items) {
    display: $display;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

// Responsive markup

@mixin for-size($range) {
    $phone-upper-boundary: 480px;
    $tablet-portrait-upper-boundary: 768px;
    $desktop-upper-boundary: 1200px;
  
    @if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) { 
        @content; 
      }
    } 
    @else 
    if $range == tablet-portrait-up {
      @media (min-width: $phone-upper-boundary) { 
        @content; 
      }
    } 
    @else if $range == tablet-landscape-up {
      @media (min-width: $tablet-portrait-upper-boundary) { 
        @content; 
      }
    } 
     @else if $range == big-desktop-up {
      @media (min-width: $desktop-upper-boundary) { 
        @content; 
      }
    }
  }

  @mixin list-margin ($margin-bottom) {
    & li:not(:last-child){
      margin-bottom: $margin-bottom;
    }
  }
  
//  usage
//   @include list-margin (
//   16px
//   );
  
  // usage
//   .my-box {
//     padding: 10px;
    
//     @include for-size(desktop-up) {
//       padding: 20px;
//     }
//   }

//   @include font(
//     Roboto,
//     normal,
//     bold,
//     14px,
//     16px,
//     left,
//     0.03em,
//     $button-text-color,
//     uppercase
//   );

// @include flex(
//   flex,
//   row,
//   nowrap,
//   center,
//   center
// );

// @include for-size(phone-only) {
    
// }

// @include for-size(tablet-portrait-up) {
   
// }

// @include for-size(tablet-landscape-up) {

// }

// @include for-size(big-desktop-up) {

// }



