  .container {
    
    
    padding-top: $section-padding;
    
    padding-bottom: $section-padding;
    

    @include for-size(tablet-portrait-up) {
      width: 100%;
    }
  
    @include for-size(tablet-landscape-up) {
     width: 100%;
    }
  
    @include for-size(big-desktop-up) {
      display: block;
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .container-header {
    display: block;
    margin-bottom: 50px;

    @include font(
      Roboto, 
      normal, 
      bold, 
      36px, 
      42px, 
      center, 
      0.03em, 
      $title-color, 
      none
    );
  }

  .container-box {
    width: 100%;

    @include for-size(tablet-portrait-up) {
      @include flex(
        flex,
        row,
        wrap,
        space-between,
        stretch
      );
    }
  
    @include for-size(tablet-landscape-up) {
      @include flex(
        flex,
        row,
        wrap,
        space-between,
        stretch
      );
    }
  
    @include for-size(big-desktop-up) {
      @include flex(
        flex,
        row,
        nowrap,
        space-between,
        stretch
      );
    }
  }

  footer .container {
    @include for-size(tablet-portrait-up) {
      padding-bottom: 0px;
    }
  
    @include for-size(tablet-landscape-up) {
      @include flex(
        flex,
        row,
        wrap,
        space-between,
        baseline
      );
  
      // padding-right: 90px;
      padding-bottom: 0px;
      // padding-left: 75px;
    }
  
    @include for-size(big-desktop-up) {
      padding-bottom: 0px;
      @include flex(
        flex,
        row,
        nowrap,
        center,
        baseline
      );
    }
  }
