.container {
  @include for-size(phone-only) {
    // margin-top: $phone--section-padding;
    // margin-bottom: $phone--section-padding;
  }
  
  @include for-size(tablet-portrait-up) {
    position: relative;
    width: 100%;
    margin-right: -30px;

    // margin-top: $phone--section-padding;
    // margin-bottom: $phone--section-padding;
  }

  @include for-size(tablet-landscape-up) {
    width: 100%;
  }

  @include for-size(big-desktop-up) {
    display: block;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    padding-top: $section-padding;
  
    padding-bottom: $section-padding;
  }
}

.container-header {
  display: block;
  margin-bottom: 50px;

  @include font(
    Roboto, 
    normal, 
    bold, 
    36px, 
    42px, 
    center, 
    0.03em, 
    $title-color, 
    none
  );

  @include for-size(phone-only) {
    margin-top: $phone--header-top;
    margin-bottom: $phone--header-bottom;
  }

  @include for-size(tablet-portrait-up) {
    margin-top: $phone--header-top;
    margin-bottom: $phone--header-bottom;
  }

  @include for-size(tablet-landscape-up) {

  }

  @include for-size(big-desktop-up) {

  }
}

footer .container {

  @include for-size(phone-only) {

  }

  @include for-size(tablet-portrait-up) {
    padding-bottom: 0px;
    margin-right: 15px;
  }

  @include for-size(tablet-landscape-up) {
    @include flex(
      flex,
      row,
      wrap,
      space-between,
      baseline
    );
  }

  @include for-size(big-desktop-up) {
    padding-bottom: 0px;
    @include flex(
      flex,
      row,
      nowrap,
      center,
      baseline
    );

    padding-bottom: 0px;
  }
}

.container-box {
  // width: 100%;

  @include for-size(phone-only) {
    @include flex(
      flex,
      row,
      wrap,
      space-between,
      stretch
    );

    margin-bottom:  $phone--header-top;
    // margin-right: -30px;
  }

  @include for-size(tablet-portrait-up) {

  }

  @include for-size(tablet-landscape-up) {
    @include flex(
      flex,
      row,
      wrap,
      space-between,
      stretch
    );
  }

  @include for-size(big-desktop-up) {
    @include flex(
      flex,
      row,
      nowrap,
      space-between,
      stretch
    );
  }
}
