.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(phone-only) {
    margin-right: -30px;
    margin-top: $phone--header-top;
  }
  
  @include for-size(tablet-portrait-up) {

  }

  @include for-size(tablet-landscape-up) {

  }

  @include for-size(big-desktop-up) {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
  }
}

.container-header {
  display: block;
  margin-bottom: 50px;

  @include font(
    Roboto, 
    normal, 
    bold, 
    36px, 
    42px, 
    center, 
    0.03em, 
    $title-color, 
    none
  );

  @include for-size(phone-only) {
    margin-top: $phone--header-top;
    margin-bottom: $phone--header-bottom;
  }

  @include for-size(tablet-portrait-up) {
    margin-top: $phone--header-top;
    margin-bottom: $phone--header-bottom;
  }

  @include for-size(tablet-landscape-up) {

  }

  @include for-size(big-desktop-up) {

  }
}

footer .container {
  @include for-size(phone-only) {
    padding-bottom: 0px;
    width: 100%;
  }

  @include for-size(tablet-portrait-up) {
    @include flex(
      flex,
      column,
      wrap,
      space-between,
      center
    );
    width: 100%;
    padding-top: $phone--header-top;
  }

  @include for-size(tablet-landscape-up) {
    @include flex(
      flex,
      row,
      wrap,
      space-around,
      baseline
    );
    width: 100%;
    padding-top: $phone--header-top;
  }

  @include for-size(big-desktop-up) {
    @include flex(
      flex,
      row,
      nowrap,
      center,
      baseline
    );
    width: 100%;
    padding-top: $phone--header-top;
    padding-bottom: 0px;
  }
}

.container-box {
  @include for-size(phone-only) {
    @include flex(
      flex,
      row,
      wrap,
      center,
      center
    );
    width: 100%;
    // margin-right: -30px;
    margin-top:  $phone--header-top;
    margin-bottom:  $phone--header-top;
  }

  @include for-size(tablet-portrait-up) {
    @include flex(
      flex,
      row,
      wrap,
      center,
      center
    );
    // width: 100%;
    margin-top:  $phone--header-top;
    margin-bottom:  $phone--header-top;
  }

  @include for-size(tablet-landscape-up) {
    @include flex(
      flex,
      row,
      wrap,
      center,
      center
    );
    // width: 100%;
    margin-top:  $phone--header-top;
    margin-bottom:  $phone--header-top;
  }

  @include for-size(big-desktop-up) {
    @include flex(
      flex,
      row,
      nowrap,
      center,
      center
    );
    // width: 100%;
  }
}
