/* 
 * Footer section 
 *
 */

footer {
  margin-right: auto;
  margin-left: auto;

  background-color: $footer-color;
}

.footer-contacts {
  @include flex(flex, column, nowrap, center, center);
  padding-bottom: $phone--header-top;
 
  @include for-size(tablet-landscape-up) {
    @include flex(flex, column, wrap, center, center);

    padding-bottom: $phone--header-top;
  }

  @include for-size(big-desktop-up) {
    @include flex(flex, column, nowrap, left, baseline);

    width: calc((50% - 45px) / 2);
    margin-right: 70px;
  }
}

.social-link {
  background-color: $footer-social-bgr;
}

/* --- Subscribe */

.footer-heading {
  @include flex(flex, row, nowrap, center, center);

  @include font(
    Roboto,
    normal,
    bold,
    14px,
    16px,
    left,
    0.03em,
    $button-text-color,
    uppercase
  );

  margin-bottom: 20px;

  @include for-size(big-desktop-up) {
    @include flex(flex, row, nowrap, left, center);
  }
}
